@import "../../../../assets/scss/variables";
h3 {
  color: #fff;
  font-weight: bold;
}
.dialog {
  padding: 3em 2em;
}
.row {
  margin: 2em 1em;

  h3 {
    font-weight: normal;
  }
}

h5{
  color: #999;
}

span {
  color: $blue-font-color;
  font-weight: bold;
}

mat-divider {
  border-top-color: $blue-font-color ;
}
.create-order-btn {
  @extend .create-btn;
  background-color: $blue-font-color;
  color: $darken-violet;
  width: 30% !important;
}
