<div class="navigation text-center">
  <div class="row">
    <div class="col-sm-3" [routerLink]="['/']" style="cursor: pointer">
      <img class="img-fluid" src="../../../assets/img/Coles_logo.svg.png" width="150px">
    </div>
    <div class="col-sm-6">
      <form [formGroup]="searchForm">
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input formControlName="search" id="search" type="text" matInput>
          <mat-icon matSuffix>search</mat-icon>

        </mat-form-field>
      </form>
    </div>
    <div class="col-sm-3 ">
      <div class="row" style="padding-top: .5em">
        <div class="col-sm text-right" style="padding-top: .5em">
          <h4 style="font-weight: bold">Contact</h4>
        </div>
        <div class="col-sm text-left">
          <button mat-icon-button (click)="openCartDialog()"><mat-icon>shopping_cart</mat-icon></button></div>
      </div>
    </div>
  </div>
</div>
