@import "../../../assets/scss/variables";
.navigation {
  margin: 3em 0;
}

mat-form-field {
  width: 100% !important;
}
mat-icon{
  font-size: 40px;
  width: 40px;
  margin-top: .2em;
  height: 40px;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #eee !important;
}
