@import "../../../../assets/scss/variables";

mat-form-field {
  margin: .5em;
  width: 100%;
}

button {
  margin-top: 1em;
  width: 100% !important;
}


mat-spinner {
  margin-left: 45%;
  margin-top: 15%;
}
