<app-navbar></app-navbar>
<div class="home">
  <div>
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Product brand</mat-label>
            <mat-select formControlName="idProductBrand">
              <mat-option *ngFor="let productBrand of listOfProductBrand" [value]="productBrand.title">
                {{productBrand.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Product category</mat-label>
            <mat-select formControlName="idProductCategory">
              <mat-option *ngFor="let productCategory of listOfProductCategories" [value]="productCategory.title">
                {{productCategory.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Price from</mat-label>
            <input formControlName="priceFrom" type="number" matInput>
            <mat-icon matSuffix>phone</mat-icon>

          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Price to</mat-label>
            <input formControlName="priceTo" type="number" matInput>
            <mat-icon matSuffix>phone</mat-icon>

          </mat-form-field>
        </div>
        <div class="col-sm">
          <button mat-raised-button class="create-btn" (click)="filterProduct()">Filter</button>
        </div>
      </div>

    </form>
  </div>
  <div class="product-binding">
    <div id="product-spinner">
      <mat-spinner></mat-spinner>
    </div>
    <app-product-binding [listOfProducts]="listOfFilteredProduct"></app-product-binding>
  </div>
</div>
