@import "../../../../../assets/scss/variables";
mat-divider {
  border-top-color: #212132;
}

.info {
  padding: 1em 0;
  h4 {
  color: #eee;
  }
}
.product-div {
  height: 30vh;
  overflow-y: scroll;

  .product-row {
    margin: 2em 1em;
    @extend .title-in-col;

    h5 {
      padding-top: 2em;
    }
    .col-sm-3 {
      button {
        margin: .5em;
        width: 40%;
        padding: .4em 0;
        border-radius: 20px;
      }

      .violet {
        color: $blue-font-color;
      }
    }
  }
}
