@import "../../../../assets/scss/variables";
input {
  color: #fff;
}

mat-form-field {
  width: 50%;
}
mat-icon {
  color: $blue-font-color;
}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $light-violet !important;
}

mat-label {
  color: $blue-font-color;
}
