$blue-font-color: #56CCF2;
$darken-violet: #1a1a26;
$light-violet: #212132;
.create-btn {

  width: 40%;
  background-color: $light-violet;
  color: $blue-font-color;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: .5em 0;
  border-radius: 20px;

}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;

}
