$blue-font-color: #56CCF2;
$darken-violet: #1a1a26;
$light-violet: #212132;

.dialog {
  padding: 1em 2em;
}
.create-btn {

  width: 40%;
  background-color: $light-violet;
  color: $blue-font-color;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: .5em 0;
  border-radius: 20px;

}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 20px !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

h1,h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;

}

::ng-deep.mat-form-field-underline{
  display: none;
}

::ng-deep.mat-dialog-container {
  background-color: $darken-violet;
  box-shadow: none;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background: none
}

::ng-deep.mat-form-field-underline {
  transform: none;
}

