@import "../../../assets/scss/variables";

.home {
  margin: 3em 10em;
}
.left-col {
  padding-top: 5em;
}
.header-row {
  background-color: #d6effa;
  padding: 5em;
  border-radius: 20px;
}
mat-form-field {
  width: 50% !important;
}

.category-div {

  padding: 3em 0;
  h3 {
    font-weight: bold;
  }
  .category-col {
    padding: 4em;
    background-color: #f3f4f7;
    border-radius: 20px;
    margin: 1em;

    h5 {
      font-weight: bold;
    }
  }
}
