<div class="admin">
  <div class="row">
    <div class="col-sm-2 menu">
      <img src="../../../assets/img/Coles_logo.svg.png" class="img-fluid" >
      <a (click)="loadGlobalOverview()">
        <h4 (click)="changeColor($event)" id="overview-btn"><i class="fa fa-eye"></i> Pregled </h4>
      </a>
      <a (click)="loadProductComponent()">
        <h4 (click)="changeColor($event)" class="link"><i class="fa fa-users" aria-disabled="true"></i>Proizvodi</h4>
      </a>
    </div>
    <div class="col-sm-10">
      <div #target>
      </div>
    </div>
  </div>
</div>
